.wrapper
    .banner
        .inner
            .banner-content
                h1= content.banner.header

                div.banner-text-group
                    p= content.banner.pFirst
                    p= content.banner.pSecond

                div.banner-btn-group
                    a.btn.btn-banner(href= content.btnEnroll.link)= content.btnEnroll.title
                    a.btn.btn-banner(href= content.btnLearnMore.link)= content.btnLearnMore.title

