.wrapper
    .call.aos-item.aos-init(data-aos='flip-down')
        .inner
            .call-content
                h2.call-title= content.callTitle.title
                p.call-text= content.callTitle.text

                mixin cityItem(title, address, tel, telLink)
                    div.call-city-item
                        p.call-city= title
                        p.call-address= address
                        a.call-tel(href= telLink)= tel

                .call-city-group
                    +cityItem(content.callCityIvan.title, content.callCityIvan.address, content.callCityIvan.tel, content.callCityIvan.telLink)
                    +cityItem(content.callCityKyiv.title, content.callCityKyiv.address, content.callCityKyiv.tel, content.callCityKyiv.telLink)
                    +cityItem(content.callCityLviv.title, content.callCityLviv.address, content.callCityLviv.tel, content.callCityLviv.telLink)

                a.btn.btn-call(href= content.btnCall.link)= content.btnCall.title