.wrapper
    .info-bg
        .info#harm
            .inner
                .info-content
                    h2.info-title= content.infoText.title
                    p.info-text= content.infoText.text
                    p.info-sub-text= content.infoText.subText


                    mixin infoProgressBar(hourNumber, hourTitle, descr)
                        p.hour-number= hourNumber
                        p.hour-title= hourTitle
                        p.descr= descr


                    .info-progress-bar-group.aos-item.aos-init(data-aos='flip-up')
                        .info-progress-bar
                            #infoProgressBar1
                            +infoProgressBar( content.infoProgressBar1.hourNumber, content.infoProgressBar1.hourTitle, content.infoProgressBar1.descr)

                        .info-progress-bar
                            #infoProgressBar2
                            +infoProgressBar( content.infoProgressBar2.hourNumber, content.infoProgressBar2.hourTitle, content.infoProgressBar2.descr)

                        .info-progress-bar
                            #infoProgressBar3
                            +infoProgressBar( content.infoProgressBar3.hourNumber, content.infoProgressBar3.hourTitle, content.infoProgressBar3.descr)

                        .info-progress-bar
                            #infoProgressBar4
                            +infoProgressBar( content.infoProgressBar4.hourNumber, content.infoProgressBar4.hourTitle, content.infoProgressBar4.descr)

                        .info-progress-bar
                            #infoProgressBar5
                            +infoProgressBar( content.infoProgressBar5.hourNumber, content.infoProgressBar5.hourTitle, content.infoProgressBar5.descr)

                    p.info-fact= content.infoText.infoFact
                    p.info-description-title= content.infoText.descriptionTitle
                    p.info-description-text= content.infoText.descriptionText